* {
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $font-primary;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: url('../images/starry-sky.jpg');
  background-position: fixed center;
  padding-bottom: rem(70);
}
.main {
  min-height: 94vh;
}
