* {
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $font-primary;
  box-sizing: border-box;
}
.page {
  background: url('../images/starry-sky.jpg');
  background-position: fixed center;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
.main {
  height: 100%;
}
