.character-list {
  background: url('../images/starry-sky.jpg');
  background-position: fixed center;
  position: relative;
}
ul {
  padding-top: rem(180);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: rem(1200);
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: rem(260);
  }
}
