.details-page {
  height: 100vh;
  background: url('../images/starry-sky.jpg');
  background-size: cover;
}
.character-details {
  background-color: transparentize($color-main, 0.5);
  width: 90vw;
  margin: 0 auto;
  padding: rem(20);
  border-bottom-left-radius: rem(20);
  border-bottom-right-radius: rem(20);
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 80vw;
  }
  @include desktop {
    width: 30vw;
  }
}
.links-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: rem(20);
  align-items: center;
  padding: 0 rem(10) rem(10);
  .link-back {
    color: $color-black;
    font-weight: bold;
    @include tablet {
      font-size: rem(24);
    }
  }
  .arrows {
    color: $color-black;
  }
}

.character-image {
  width: 100%;
  display: block;
}
.character-details-stats {
  padding: rem(10);
  @include tablet {
    font-size: rem(26);
    padding: rem(20);
  }
  @include desktop {
    font-size: rem(22);
    padding: rem(15);
  }
  h2 {
    padding: rem(5) rem(10);
    background-color: transparentize($color-main, 0.5);
    width: 100%;
    margin: auto;
    border-radius: rem(10);
    text-align: center;
  }
  div {
    margin: rem(10);

    .details-title {
      font-weight: bold;
      margin: rem(5) 0;
    }
  }
}
.details-page,
.nothing {
  padding: rem(40);
  .nothing-text {
    display: block;
    margin: rem(20) auto;
    background-color: transparentize($color-white, 0.4);
    padding: rem(30);
    text-align: center;
    border-radius: rem(10);
    font-size: rem(20);
    width: fit-content;
    @include tablet {
      font-size: rem(24);
    }
  }
  .dance-gif {
    height: 45vh;
    display: block;
    margin: rem(40) auto;
    @include tablet {
      margin: rem(60) auto;
    }
  }
  .back-button {
    border: $color-dark rem(2) solid;
    border-radius: rem(10);
    color: $color-black;
    background-color: $color-dark;
    font-size: rem(20);
    padding: rem(10) rem(20);
    width: fit-content;
    margin: auto;
    display: block;
    transition: all 1s ease;
    @include tablet {
      font-size: rem(30);
      padding: rem(20) rem(30);
    }
    &:focus,
    &:hover {
      animation: pulse 1s;
      box-shadow: 0 0 rem(80) rem(80) rgba($color-dark, 0);
    }
  }
}
