.character-card {
  position: relative;
  height: fit-content;
  width: rem(300);
  overflow: hidden;
  margin: rem(20) auto;
  border-radius: rem(10);
  background-color: $color-light;
  box-shadow: 0 0 10px 6px $color-main;
  @include tablet {
    width: rem(200);
    margin: rem(20);
    height: rem(260);
  }
  @include desktop {
    margin: rem(20);
  }
  .card-image {
    width: 100%;
  }
  .character-species {
    font-size: rem(28);
    position: absolute;
    top: rem(10);
    left: rem(10);
    text-shadow: 0 0 rem(5) $color-main;
  }
  .character-name {
    color: $color-black;
    text-align: center;
    padding: rem(5) rem(10);
    width: 100%;
    height: fit-content;
    font-size: rem(18);
    margin: 0;
    text-shadow: 0 0 rem(5) $color-dark;
    @include tablet {
      font-size: rem(22);
    }
  }
}
