.character-list {
  position: relative;
  padding-top: rem(180);
  @include tablet {
    padding-top: rem(260);
  }
  @include desktop {
    padding-top: rem(260);
  }
}
ul {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90vw;
  max-width: rem(1200);
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
}
