.footer {
  background-color: transparentize($color-main, 0.3);
  bottom: 0;
  height: rem(60);
  position: absolute;
  width: 100%;
  @include desktop {
    height: rem(70);
    padding: rem(15);
  }
}
.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: rem(10) rem(30);
  margin: auto;
  max-width: rem(1200);
  width: 100%;
}
.copy-block {
  font-weight: bold;
  @include desktop {
    font-size: rem(22);
  }
}
.logo-block img {
  height: rem(25);
  @include tablet {
    height: rem(30);
  }
  @include desktop {
    height: rem(36);
  }
}
