.header-space {
  height: rem(160);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  background: url('../images/starry-sky.jpg');
}
.header {
  width: 100%;
  height: fit-content;
  position: fixed;

  padding: rem(10) 0;
  z-index: 10;
}
.header-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 0 rem(10);
}
.header-logo {
  width: 65vw;
  @include tablet {
    width: 50vw;
  }
  @include desktop {
    width: 20vw;
  }
}
