.header-space {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}
.header {
  width: 100%;
  height: rem(225);
  position: fixed;
  padding: rem(10) 0;
  z-index: 10;
  background: url('../images/starry-sky.jpg');

  @include tablet {
    height: rem(250);
  }
  @include desktop {
    height: rem(260);
  }
}
.header-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header-logo {
  width: 50vw;
  max-width: rem(220);
  @include tablet {
    width: 50vw;
    max-width: rem(430);
  }
  @include desktop {
    width: 28vw;
    max-width: rem(400);
  }
}
