.landing-main {
  align-items: center;
  background: url("../images/rick-and-morty-starry-sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  @include desktop {
    background-position: bottom center;
  }
}
.portal-quote-block {
  height: fit-content;
  position: relative;
  width: fit-content;
}
.random-image-container {
  animation-duration: 2s;
  animation-name: floatIn;
  background-color: transparentize($color-white, 0.3);
  border-radius: 50%;
  color: $color-dark;
  cursor: pointer;
  font-size: rem(20);
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 1s;
  text-align: center;
  top: 50%;
  padding: 15px;
  overflow: hidden;
  height: fit-content;
  width: fit-content;

  &:hover {
    background-color: $color-white;
    box-shadow: 0 0 rem(15) rem(15) $color-main;
    transform: translate(-50%, -50%) scale(1.1);
  }
  @include tablet {
  }
  @include desktop {
  }
  img {
    animation-name: wiggle;
    animation-duration: infinite;
    height: 200px;
    border-radius: 50%;
    @include tablet {
      max-height: 400px;
    }
    @include desktop {
    }
  }
}
.portal-gif {
  display: block;
  height: auto;
  max-height: 50vh;
  margin: auto;

  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 60%;
  }
}
.link-to-main {
  background-color: $color-dark;
  border: $color-dark rem(2) solid;
  border-radius: rem(10);
  color: $color-black;
  font-size: rem(20);
  padding: rem(10) rem(20);
  width: fit-content;
  @include tablet {
    font-size: rem(26);
  }
  &:focus,
  &:hover {
    animation: pulseOut 1s;
    box-shadow: 0 0 rem(80) rem(80) rgba($color-dark, 0);
  }
}

@keyframes pulseOut {
  0% {
    box-shadow: 0 0 0 rem(20) rgba($color-dark, 0.5);
  }
}
@keyframes floatIn {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
  }
  60% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes wiggle {
  0% {
    transform: scale(2);
  }
  40% {
    transform: scale(1.1);
  }
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
