.no-results {
  width: fit-content;
  margin: auto;
  height: 60vh;
  img {
    max-width: 100%;
    max-height: 50vh;
  }
}
.no-results-text {
  color: $color-white;
  font-size: rem(20);
  margin: rem(10) auto;
  text-align: center;
  @include tablet {
    font-size: rem(28);
  }
  @include desktop {
    font-size: rem(32);
  }
}
