.character-card {
  background-color: $color-light;
  border-radius: rem(10);
  box-shadow: 0 0 10px 6px $color-main;
  height: fit-content;
  margin: rem(20) auto;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
  width: rem(300);
  @include tablet {
    height: rem(260);
    margin: rem(20);
    width: rem(200);
  }
  @include desktop {
    margin: rem(20);
  }
  &:hover {
    transform: scale(0.9);
    .card-image {
      border-radius: 0%;
    }
  }
  .card-image {
    border-radius: 50%;
    transition: all 0.8s;
    width: 100%;
  }
  .character-species {
    font-size: rem(28);
    left: rem(10);
    position: absolute;
    text-shadow: 0 0 rem(5) $color-main;
    top: rem(10);
  }
  .character-name {
    color: $color-black;
    font-size: rem(18);
    height: fit-content;
    margin: 0;
    padding: rem(5) rem(10);
    text-align: center;
    text-shadow: 0 0 rem(5) $color-dark;
    width: 100%;
    @include tablet {
      font-size: rem(22);
    }
  }
}
