.character-list {
  padding-top: rem(220);
  position: relative;
  @include tablet {
    padding-top: rem(260);
  }
  @include desktop {
    padding-top: rem(160);
  }
}
ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: rem(1200);
  width: 90vw;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
  li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
