.details-page {
  animation: pulse 50s linear infinite;
  background: url('../../images/starry-sky.jpg');
  background-size: cover;
  height: 100vh;
}
.character-details {
  background-color: transparentize($color-main, 0.5);
  border-bottom-left-radius: rem(20);
  border-bottom-right-radius: rem(20);
  box-shadow: 0 0 rem(10) rem(15) transparentize($color-main, 0.5);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem(380);
  padding: rem(20);
  width: 90vw;
  @include tablet {
    max-width: rem(400);
    width: 80vw;
  }
  @include desktop {
  }
}
.links-block {
  align-items: center;
  display: flex;
  font-size: rem(20);
  justify-content: space-between;
  margin: auto;
  padding: 0 rem(10) rem(10);
  width: 100%;
  @include tablet {
    font-size: rem(26);
    width: 60%;
  }
  .link-back {
    color: $color-black;
    font-weight: bold;
    @include tablet {
      font-size: rem(24);
    }
  }
  .arrows {
    color: $color-black;
  }
}
.character-image {
  display: block;
  width: 100%;
  @include desktop {
    margin: auto;
    width: 70%;
  }
}
.character-details-stats {
  margin: auto;
  padding: rem(10);
  @include tablet {
    font-size: rem(26);
    padding: rem(10) rem(20) 0;
  }
  @include desktop {
    font-size: rem(22);
    padding: rem(15) rem(25) 0;
  }
  h2 {
    background-color: transparentize($color-main, 0.5);
    border-radius: rem(10);
    margin: auto;
    padding: rem(5) rem(10);
    text-align: center;
    width: 100%;
  }
  div {
    margin: rem(10);
    .details-title {
      font-weight: bold;
      margin: rem(5) 0;
    }
  }
}
.nothing {
  padding: rem(40);
  .nothing-text {
    background-color: transparentize($color-white, 0.4);
    border-radius: rem(10);
    display: block;
    font-size: rem(20);
    margin: rem(20) auto;
    padding: rem(30);
    text-align: center;
    width: fit-content;
    @include tablet {
      font-size: rem(28);
    }
  }
  .dance-gif {
    display: block;
    height: 45vh;
    margin: rem(40) auto;
    @include tablet {
      margin: rem(60) auto;
    }
  }
  .back-button {
    border: $color-dark rem(2) solid;
    border-radius: rem(10);
    color: $color-black;
    background-color: $color-dark;
    display: block;
    font-size: rem(24);
    margin: auto;
    padding: rem(10) rem(20);
    transition: all 1s ease;
    width: fit-content;
    @include tablet {
      font-size: rem(30);
      padding: rem(10) rem(30);
    }
    &:focus,
    &:hover {
      animation: pulseOut 1s;
      box-shadow: 0 0 rem(80) rem(80) rgba($color-dark, 0);
    }
  }
}
@keyframes scroll {
  100% {
    background-position: 0px -1500px;
  }
}
@keyframes pulse {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 140%;
  }
  100% {
    background-size: 100%;
  }
}
