// FONTS
$font-primary: 'Roboto', sans-serif;
$defaultFontSize: 16;

@font-face {
  font-family: 'getSchwifty';
  src: url('../../resources/get_schwifty.ttf');
}
// COLORS
$color-main: #00ff00;
$color-white: #ffffff;
$color-light: #add8e6;
$color-black: #000000;
$color-dark: #008000;
